/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

.cotizaciones-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.mensaje {
    text-align: center;
    margin-top: 20px;
}

.mensaje p {
    margin-bottom: 10px;
}

.mensaje a {
    color: #007bff;
    text-decoration: none;
}

.mensaje a:hover {
    text-decoration: underline;
}
