body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    background-image: url('hombre\ generico\ con\ traje.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px; /* Espacio izquierdo para el contenido */
}

.content {
    max-width: 400px; /* Ancho máximo del contenido */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    padding: 40px;
    border-radius: 10px;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.login-button, .register-button {
    display: inline-block;
    padding: 12px 24px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover, .register-button:hover {
    background-color: #0056b3;
}
